/*
 * AWS Nextflow Configuration
 */

nextflow.enable.dsl = 2
trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true
// AWS Batch configuration
aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/bin/aws'
        queue = 'nextflow-queue'
    }
}

// Process configuration
process {
    executor = 'awsbatch'
    docker.enabled = true
    conda.enabled = false

    // Default process settings
    cpus = 2
    memory = '4 GB'
    time = '24h'

    // Error handling
    errorStrategy = 'retry'
    maxRetries = 3
    maxErrors = 5

    // Queue settings
    queue = 'nextflow-queue'
}

// Profiles
profiles {
    aws {
        process.executor = 'awsbatch'
        docker.enabled = true
        conda.enabled = false
        cleanup = true
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        conda.enabled = false
    }
}

// Executors
executor {
    awsbatch {
        queueSize = 100
    }

    local {
        queueSize = 5
    }
}


process {
    withName: fastqc {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName: fastp {
        container = 'staphb/fastp:latest'
    }
    withName: featurecounts {
        container = 'pegi3s/feature-counts'
    }
    withName: hisat2 {
        container = 'nanozoo/hisat2:2.2.1.commit7e01700--5e923e8'
    }
    withName: hisat2_index {
        container = 'nanozoo/hisat2:2.2.1.commit7e01700--5e923e8'
    }
    withName: multiqc {
        container = 'multiqc/multiqc:v1.33'
    }
}


// Report and timeline
timeline {
    enabled = true
    file = 'timeline.html'
}

report {
    enabled = true
    file = 'report.html'
}

trace {
    enabled = true
    file = 'trace.txt'
}

dag {
    enabled = true
    file = 'dag.svg'
}
